body, html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#jsfiddle {
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#devtools {
	z-index: 1;
	width: 100%;
	height: 0%;
	border: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#loading {
	z-index: 9999;
	border: 0px solid #999;
	background-color: #000;
	border-radius: 15px;
	padding: 15px;
	position: fixed;
	top: 40%;
	left: 50%;
	margin: 0px auto auto -40px;
	text-align: center;
	opacity: 0.5;
}